doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(
            name="viewport", 
            content="width=device-width, initial-scale=1.0"
            )
        link(
            rel="stylesheet", 
            href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/css/tabler.min.css"
        )
        link(
            rel="stylesheet", 
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.16.0/dist/tabler-icons.min.css"
        )
        block stylesheets
        title #{title || "Attendance Manager"}
    body 
        block pageBody 
        script(src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/js/tabler.min.js")
        block scripts

        