extends ../layouts/dashboard

block pageActions
    div.btn-list
        form(action="/admin/courses/markComplete", method="post" onsubmit=`return confirm('Mark ${data.course.subject.name} complete?');`)
            if data.course && data.course.id
                input(type="hidden", name="id", value=data.course.id)
            button.btn.btn-success(type="submit")
                i.ti.ti-circle-check.me-1 
                | Mark Complete

block pageContent
    div.container-xl
        div.card
            div.card-body
                div.datagrid
                    div.datagrid-item
                        div.datagrid-title Name
                        div.datagrid-content #{data.course.subject.name}
                    div.datagrid-item
                        div.datagrid-title Code
                        div.datagrid-content #{data.course.subject.code}
                    div.datagrid-item
                        div.datagrid-title Semester
                        div.datagrid-content #{data.course.semester} #{data.course.year}
                    div.datagrid-item
                        div.datagrid-title Class Timing
                        div.datagrid-content #{data.course.classStartTime} - #{data.course.classEndTime}
                    if data.course.instructor    
                        div.datagrid-item
                            div.datagrid-title Instructor
                            div.datagrid-content #{data.course.instructor.user.fullName}
                        div.datagrid-item
                            div.datagrid-title Instructor ID
                            div.datagrid-content 
                            a(href=`/admin/instructors/${data.course.instructor.id}`) #{data.course.instructor.instructorId}
        div.card.mt-3
            if data.students && data.students.length != 0
                div.card-header
                    h3.card-title Course Students
                        span.card-subtitle (#{data.students.length})
                div.card-body
                    table.table
                        thead 
                            tr
                                th Student ID
                                th Full Name
                        tbody 
                            each student in data.students
                                tr
                                    td 
                                        a(href=`/admin/students/${student.id}`) #{student.studentId}
                                    td #{student.user.fullName}
            else 
                div.card-body
                    div.empty
                        p.empty-title No students enrolled in this course



                    